<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/layout">
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" th:text="#{customer.edit.title}">Edit customer</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 20px;">
                    <span th:text="#{customer.single.title}"></span>
                    <a th:href="@{/customer/list}">
                        <button type="button" class="btn btn-default pull-right">
                            <i class="fa fa-arrow-left"></i> <span th:text="#{back}"/>
                        </button>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form name="customer-form" action="#" role="form" th:action="@{'/customer/edit/' + ${customer.id}}" method="post" th:object="${customer}">
                                <input type="hidden" name="address.id" th:value="${customer.address.id}"/>
                                <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? has-error">
                                    <label th:text="#{customer.last-name}">Last Name</label>
                                    <input class="form-control" type="text" th:field="*{lastName}" autofocus="autofocus"/>
                                    <label th:if="${#fields.hasErrors('lastName')}" class="control-label" th:errors="*{lastName}"></label>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? has-error">
                                    <label th:text="#{customer.first-name}">Fist Name</label>
                                    <input class="form-control" type="text" th:field="*{firstName}" />
                                    <label th:if="${#fields.hasErrors('firstName')}" class="control-label" th:errors="*{firstName}"></label>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{customer.phone-number}">Phone Number</label>
                                    <input class="form-control" type="text" th:field="*{phoneNumber}" />
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? has-error">
                                    <label th:text="#{customer.email}">Email</label>
                                    <input class="form-control" type="text" th:field="*{email}" />
                                    <label th:if="${#fields.hasErrors('email')}" class="control-label" th:errors="*{email}"></label>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('address.city')}? has-error">
                                    <label th:text="#{address.city}">City</label>
                                    <input class="form-control" type="text" th:field="*{address.city}" />
                                    <label th:if="${#fields.hasErrors('address.city')}" class="control-label" th:errors="*{address.city}"></label>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('address.postCode')}? has-error">
                                    <label th:text="#{address.post-code}">Post Code</label>
                                    <input class="form-control" type="text" th:field="*{address.postCode}" />
                                    <label th:if="${#fields.hasErrors('address.postCode')}" class="control-label" th:errors="*{address.postCode}"></label>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('address.street')}? has-error">
                                    <label th:text="#{address.street}">Street</label>
                                    <input class="form-control" type="text" th:field="*{address.street}" />
                                    <label th:if="${#fields.hasErrors('address.street')}" class="control-label" th:errors="*{address.street}"></label>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('address.number')}? has-error">
                                    <label th:text="#{address.number-full}">Number</label>
                                    <input class="form-control" type="text" th:field="*{address.number}" />
                                    <label th:if="${#fields.hasErrors('address.number')}" class="control-label" th:errors="*{address.number}"></label>
                                </div>

                                <p class="pull-right">
                                    <button type="button" class="btn btn-default btn-clear" th:text="#{clear}">Clear</button>
                                    <input type="submit" class="btn btn-success" value="Save" th:attr="value=#{item.save}" />
                                </p>
                            </form>
                        </div>
                    </div> <!-- row -->
                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col-lg-12 -->
    </div> <!-- row -->

</div>

<div layout:fragment="page-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/
        //set auto complete for city field
        $(document).ready(function() {
            //attach autocomplete
            $("#address\\.city").autocomplete({
                minLength: 2,
                delay: 100,
                //define callback to format results
                source: function (request, response) {
                    var url = /*[[@{/customer/edit/getCities}]]*/ '';
                    $.getJSON(url, request, function(result) {
                        response($.map(result, function(item) {
                            return {
                                // following property gets displayed in drop down
                                label: item.city + " (" + item.postCode + ")",
                                // following property gets entered in the textbox
                                city: item.city,
                                code: item.postCode
                            }
                        }));
                    });
                },

                //define select handler
                select : function(event, ui) {
                    if (ui.item) {
                        event.preventDefault();
                        $("#address\\.city").val(ui.item.city);
                        $("#address\\.postCode").val(ui.item.code);
                        $("#address\\.street").focus();
                        return false;
                    }
                },
                response: function(event, ui) {
                    if (!ui.content.length) {
                        var noResult = { value:"",label:"Brak danych" };
                        ui.content.push(noResult);
                    }
                }
            });
        });
        $('#menu-customer').addClass('active');
        /*]]>*/
    </script>
</div>
</body>
</html>