<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template/layout">
<head>
    <!-- Page-Level Plugin CSS - Tables -->
    <link th:href="@{/resources/css/plugins/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" th:text="#{customer-vat.title}">Customers Vat</h1>
            <div id="customer-vat-deleted" th:if="${customerVatDeleted}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span th:text="#{customer-deleted-success}" />
            </div>
            <div id="customer-vat-edited" th:if="${customerVatEdited}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span th:text="#{customer-edited-success}" />
            </div>
            <div id="customer-vat-added" th:if="${customerVatAdded}" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span th:text="#{customer-added-success}" />
            </div>
            <div class="pull-right" style="margin-bottom: 10px;">
                <a th:href="@{/customer/add-vat}">
                    <button type="button" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i> <span th:text="#{customer.add.text}"/>
                    </button>
                </a>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" th:text="#{customer-vat.list.text}">
                    Customer Vat list
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="customer-vat-list">
                            <thead>
                            <tr>
                                <th class="col-lg-3" th:text="#{customer-vat.name}">Company Name</th>
                                <th class="col-lg-3" th:text="#{address.city}">City</th>
                                <th class="col-lg-1" th:text="#{address.post-code}">Post Code</th>
                                <th class="col-lg-3" th:text="#{address.street}">Street</th>
                                <th class="col-lg-1" th:text="#{address.number}">Number</th>
                                <th class="col-lg-1" th:text="#{action}">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customer,rowStat : ${customers}" th:class="${rowStat.odd}? 'odd gradeX' : 'even gradeX'">
                                <td th:text="${customer.name}">Second and First Name</td>
                                <td th:text="${customer.address.city}">City</td>
                                <td th:text="${customer.address.postCode}">Post Code</td>
                                <td th:text="${customer.address.street}">Street</td>
                                <td th:text="${customer.address.number}">Number</td>
                                <td>
                                    <a th:href="@{'/customer/edit-vat/' + ${customer.id}}" style="float: left; margin-left: 15px; margin-right: 15px;" >
                                        <i class="glyphicon glyphicon-pencil" th:title="#{edit}"></i>
                                    </a>
                                    <a href="#" class="confirm-delete" data-toggle="modal" data-target="#delete-modal" th:attr="data-id=${customer.id}">
                                        <i class="glyphicon glyphicon-remove" th:title="#{delete}"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <th:block>
                        <div th:replace="fragments/modal :: modal (id='delete-modal', title=#{warning}, formId='delete-form', formAction=@{/customer/delete-vat/}, hiddenId='true', query=#{customer.delete-query}, input='false', inputId='', executeId='delete-url', executeText=#{delete}, executeClass='btn-danger')">
                            Confirm delete
                        </div>
                    </th:block>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<div layout:fragment="page-scripts">
    <!-- Page-Level Plugin Scripts - Tables -->
    <script th:src="@{/resources/js/plugins/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/resources/js/plugins/dataTables/dataTables.bootstrap.js}"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#customer-vat-list').dataTable({
                "aaSorting": [],
                "oLanguage": {
                    "sUrl": "/resources/js/plugins/dataTables/pl.txt"
                }
            });
        });
        $('#menu-customer').addClass('active');
    </script>
</div>

</body>
</html>