<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />

    <title>Logowanie</title>

    <!-- Core CSS - Include with every page -->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/font-awesome/css/font-awesome.css}" rel="stylesheet" />

    <!-- SB Admin CSS - Include with every page -->
    <link th:href="@{/resources/css/sb-admin.css}" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{login.title}">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form action="#" role="form" th:action="@{/j_spring_security_check}" method="post">

                            <div class="alert alert-danger alert-dismissable" th:if="${param.error}">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}" />
                            </div>

                            <div class="alert alert-success alert-dismissable" th:if="${param.logout}">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span th:text="#{login.logout-success}" />
                            </div>

                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" th:attr="placeholder=#{login.email}" name="email" type="email" autofocus="autofocus" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" th:attr="placeholder=#{login.password}" name="password" type="password" value="" />
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="_spring_security_remember_me" type="checkbox" th:text="#{login.remember-me}" />
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Login in" th:attr="value=#{login.submit}" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script th:src="@{/resources/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script th:src="@{/resources/js/sb-admin.js}"></script>
</body>
</html>